<!Doctype html>
<html>

<head>
    <%- include('./layouts/head') %>
</head>

<body>
    <header>
        <%- include('./layouts/navbar') %>
    </header>
    <main class="mt-5">
        <div class="m-auto p-3" style="max-width:700px;box-shadow:0px 0px 8px #ddd">
            <h1 class="text-primary mt-5 text-center">Welcome To Fruits Page</h1>
            <h5 class="text-center">I have <span class="text-danger">
                    <%= fruitsAry.length %>
                </span> favourite fruits and they are listed below.</h5>
            <ol>
                <% for(let i=0; i < fruitsAry.length; i++){ %>
                    <li>
                        <%= fruitsAry[i] %>
                    </li>
                    <% } %>
            </ol>
        </div>

    </main>
</body>
<footer>
    <%- include('./layouts/footer') %>
</footer>

</html>