<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table class="table table-striped px-2">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Wallet</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% recentTransactionByUserId.forEach(transaction => { %>
        <tr id="row-<%= transaction.id %>">
          <td><%= transaction.date_transaction %></td>
          <td><%= transaction.expanses_id %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.wallet %></td>
          <td>
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#expanseedit<%= transaction.id %>"
              class="btn btn-primary edit-button"
              data-transaction-id="<%= transaction.id %>"
              data-transaction-date="<%= transaction.date_transaction %>"
              data-transaction-expense="<%= transaction.expanses_id %>"
              data-transaction-amount="<%= transaction.amount %>"
              data-transaction-wallet="<%= transaction.wallet %>"
            >
              Edit
            </button>

            <button
              class="btn btn-danger delete-button"
              type="button"
              data-bs-toggle="modal"
              data-bs-toggle="modal"
              data-bs-target="#deleteConfirmationExpanse<%= transaction.id %>"
              data-transaction-id="<%= transaction.id %>"
            >
              Delete
            </button>
          </td>
        </tr>
        <% }); %>

        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </body>
</html>
